{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <div class="home-subtitle">
        <h1>Stocks:</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.current_price | usd }}</td>
                    <td>{{ stock.total_value | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end fw-bold">Cash</td>
                <td>{{ user_cash | usd }}</td>
            </tr>
            <tr>
                <td colspan="4" class="text-end fw-bold">Grand Total</td>
                <td>{{ grand_total | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
